#searchContainer, #resultContainer, #routeContainer {
    -fx-background-image: url("screenapp/assets/background_image.jpg");
    -fx-background-position: left top, center;
    -fx-background-size: cover, auto;
    -fx-background-repeat: no-repeat;
}

#routeContainer {
    -fx-padding: 20px;
}

#searchBookTxt {
    -fx-min-width: 850;
    -fx-min-height: 50;
    -fx-prompt-text-fill: #A7A7A7;
}

#searchBookBtn {
    -fx-background-color: #66BB6A;
    -fx-max-height: 70;
    -fx-max-width: 300;
    -fx-column-halignment: center;
}

#cancelSearchBtn {
    -fx-min-height: 70;
    -fx-max-height: 70;
    -fx-min-width: 300;
    -fx-max-width: 300;
    -fx-background-color: #F44336;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

#cancelSearchBtn:hover {
    -fx-background-color: #DB3C30;
    -fx-cursor: hand;
}

#searchBookBtn:hover {
    -fx-background-color: #43A047;
    -fx-cursor: hand;
    -fx-focus-color: transparent;
    -fx-focus-traversable: false;
}

#arrowIcon {
    -fx-background-image: url("screenapp/assets/right-arrow.png");
    -fx-background-position: left top, center;
    -fx-background-size: cover, auto;
    -fx-min-width: 250;
    -fx-min-height: 250;
    -fx-background-color: transparent;
}

#backBtn {
    -fx-background-image: url("screenapp/assets/left-arrow.png");
    -fx-background-position: left top, center;
    -fx-background-size: cover, auto;
    -fx-background-repeat: no-repeat;
    -fx-min-width: 100;
    -fx-min-height: 100;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

#errorLbl {
    -fx-text-fill: #FF0000;
    visibility: false;
    -fx-font: 32px "Calibri";
    -fx-font-weight: Bold;
}

#resultSumLbl {
    -fx-font: 32px "Calibri";
    -fx-text-fill: #FFFFFF;
}

#bookResultLst {
    -fx-max-height: 450px;
    -fx-max-width: 1200px;
}

#bookResultLst .label {
    -fx-font: 32px "Calibri";
}